@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Quicksand:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  box-sizing: border-box;
}
html {
  margin: 0px;
  padding: 0px;
}
.container-fluid {
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  color: #747272;
}

  /* .row {
    width: 100%;
  } */
header {
  font-size: 16px;
}

/* Navbar css */
.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.logo > img {
  width: 103px;
  height: 60px;
  margin-right: 4px;
}

/* .nav-item.dropdown:hover .dropdown-menu-custom {
  display: flex;
} */

/* .dropdown-menu-custom {
  display: none;
  
} */

.subnews {
  padding: 20px 0;
}
.logo_sub {
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 24px;
  color: #c3c0c0;
  margin-bottom: 2px;
}

.nav_list {
  margin-left: 50px;
}

.nav_list > li {
  padding: 0 10px;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  font-size: 14px;
}

.language_icon {
  margin-right: 6px;
}

.language-option > span {
  cursor: pointer;
}
.actived_language {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.actived_language::after {
  content: "";
  border-right: 2px solid #ccc;
  margin-left: 4px;
}
.dropdown-menu {
  /* border: none; */
  border-radius: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

.nav-link-custom::after {
  display: none;
}

.dropdown-icon {
  color:#747272;
  margin-left:4px;
  margin-top: 2px;
}

/* End Navbar Css */

/* Slide css */

.btn-slide-pre {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* End slide css */

/* filter css */

.filter {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: -1%;
  left: 4%;
}
.filter_select {
  border: none;
}
.filter_select:focus-visible {
  border: none;
  outline: none;
}
.filter_option {
  width: 100%;
  display: flex;
}

.filter_option_item {
  display: flex;
  align-items: center;
  padding: 0 40px 0 20px;
  position: relative;
}

.filter_option_item:after {
  content: "";
  height: 60%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 20%;
  background-color: #ccc;
}
.filter_option_item::before {
  content: "";
  position: absolute;
  width: 90%;
  height:1px;
  background-color: #ccc;
  bottom: -4px;
  left: 14px;
  display: none;
  
}

.option_icon {
  margin-right: 10px;
}

.option_name > div:first-child {
  color: #463638;
  font-weight: 600;
}

.search {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.searh_input > div {
  color: #463638;
  font-weight: 600;
}
.searh_input > input {
  border: none;
  outline: none;
}
.btn_search {
  padding: 10px 20px;
  background-color: #ed243a;
  border: none;
}
.control_btn {
  height: 30px;
}
/* end filter css */

main {
  position: relative;
}

.section-1 {
  background-color: #f8f7f7;
  padding: 10px 0;
}

.title {
  color: #1b1718;
  font-weight: 700;
  margin-top: 40px;
}

.section-info > h5 {
  font-weight: 800;
}

.section-infor-item {
  padding: 30px 0;
}

.section-infor-item > span:first-child {
  display: block;
  color: #ed243a;
  font-size: 40px;
  font-weight: 1000;
  position: relative;
  padding: 0 15px 0 0;
  font-family: "SVN-Gotham";
}
.section-number:after {
  content: "";
  height: 30%;
  width: 2px;
  position: absolute;
  right: 0;
  top: 45%;
  background-color: #ed243a;
}
.section-infor-item > span:nth-child(2) {
  display: block;
  padding: 0 0 0 10px;
  margin-top: 10px;
}

.section-2-title {
  font-weight: 800;
  position: relative;
  margin-top: 40px;
}

.section-2-title:after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  right: 48%;
  bottom: -10px;
  background-color: #f15b40;
}

.section-2-des {
  margin-top: 20px;
  color: #1b1718;
  font-weight: 800;
  margin-bottom: 20px;
}
.card {
  border-radius: 0;
  margin: auto;
  border: none;
}
.card-body {
  padding-left: 0;
}
.card-img-top {
  width: 100%;
  /* height: 400px; */
  border-radius: 0;
}
.card-text {
  color: #2c2022;
  font-weight: 900;
}
.more-info-link {
  border-radius: 0;
  margin-top: 20px;
}

.section-3 {
  background-color: #eceaea;
}
.section-3-title {
  font-weight: 800;
  position: relative;
  padding: 10px 0;
}

.section-3-title:after {
  content: "";
  height: 1.5px;
  width: 50px;
  position: absolute;
  left: 5px;
  bottom: -5px;
  background-color: #f15b40;
}

.main_button {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 10px;
}

.main_button > .control_btn > button {
  border-radius: 50%;
  background-color: transparent;
  border: 0.5px solid #fff;
  width: 30px;
  height: 30px;
}
.main_button > .control_btn > button:first-child {
  margin-right: 20px;
}
.main_button > .control_btn > button > img {
  width: 50%;
}

.section-4 > h3 {
  padding: 20px 0;
}
.card-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  color: #2c2022;
}
.card-link:hover {
  color: #ed243a;
}
.card-text {
  font-size: 14px;
  color: #747272;
}

.section-4-title {
  color: #1b1718;
  font-weight: bold;
  margin-bottom: 20px;
}
.section-4-link {
  text-decoration: none;
  color: #ed243a;
  font-weight: 900;
}
.section-4-img-1 {
  margin:  auto;
}

.text-truncate-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-truncate-4 {
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.section-4-sub-content {
  color: #2c2022;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
}
.section-4-sub-content:hover {
  color: #ed243a;
}

.section-4-img {
  width: 180px;
  height: 100px;
}

.section-5 {
  background-color: #eceaea;
}

.section-5-img {
  width: 90%;
}

.section-5-title {
  color: #ed243a;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}
.section-5-title:after {
  content: "";
  height: 2px;
  width: 10%;
  position: absolute;
  left: 0;
  bottom: -8px;
  background-image: linear-gradient(#f15b40, #fdb913);
}

.section-5-subtitle {
  color: #1b1718;
  font-weight: 900;
}
.job-list > li > a {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}
.section-5-btn {
  color: #2c2022;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 20px;
}



.section-img >img {
  width: 100%;
}
.section-6-promotion-list {
  list-style: none;
  padding: 0;
}

.section-6-promotion-list > li > span {
  color: #000000;
  font-weight: 900;
  text-decoration: none;
}
.input-group {
  width: 80%;
  border: 1px solid #c3c0c0;
}

.input-group > input {
  width: 80%;
  outline: none;
  border: none;
}

.input-group > a {
  border-radius: 0;
}

.section-6-img {
  width: 100%;
}

footer {
  background-color: #eceaea;
}

.footer-social {
  list-style: none;
  padding: 0;
}

.footer-social > li > a {
  text-decoration: none;
  color: #747272;
  display: block;
}

.social-icon {
  font-size: 16px;
  width: 26px;
  height: 26px;
}
.footer_copyright {
  font-size: 14px;
  color: #463638;
}

.contact-list {
  list-style: none;
  padding: 0;
}
.company-info {
  list-style: none;
  padding: 0;
}

.company-info > li > a {
  text-decoration: none;
  color: #463638;
}
.footer-title {
  color: #000;
  font-weight: bold;
}

.company-info > li > a:hover {
  color: #ed243a;
}


.index  {
  color: #FDFCFC;
  font-size: 16px;

}
.progressbar {
  width: 40%;
  height: 2px;
  background-color: #fff;
}

.slider {
  width: 100%;
  margin: 50px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}
.slick-slide.slick-current.slick-active{
  /* scale: 1.5; */
  opacity: 1;
}

.slick-slide.slick-cloned {
  margin: 0 20px;
}
.slick-list  {
  overflow: unset;
}

.slick-prev {
  left: 40%;
  top: -15%;
}

.slick-slide.slick-current.slick-active >div>div>span{
  font-size: 18px;
  font-weight: bold;
  color:#2C2022;
}